@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #56abfa, #4133ff);
}

.container{
 
  max-width: 600px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 20px;
  border-style: solid;
  border-width: 8px;
  border-color: rgb(255, 187, 0);
 
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 35px;
  font-weight: 500;
  height: 60px;
  font-family:"Calibri";
  position:relative
  ;	
  
}
.container .title::before{
  content: "";
  position: absolute;
  margin:center;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  border-radius: 5px;
  background: linear-gradient(135deg, #74d3f8, #4133ff);
}
.content form .user-details{
  display:flex;
  
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 3 - 20px);
}
form .user-details .email{
	margin-bottom: 15px;
	width: 100%;
  }

form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
form .email span.details{
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
  }
.user-details .input-box input{
  height: 45px;
  width:100%;
  outline: none;
  font-size: 14px;
  
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .email input{
	height: 45px;
	width:100%;
	outline: none;
	font-size: 16px;
	border-radius: 5px;
	padding-left: 15px;
	border: 1px solid #ccc;
	border-bottom-width: 2px;
	transition: all 0.3s ease;
  }
  
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #1f3bd8;
}
.user-details .email input:focus,
.user-details .email input:valid{
  border-color: #1f3bd8;
}

 form .button{
   height: 45px;
   margin:10px 0;
 }
 .button{
  width: calc(100% / 1 - 20px);
 }
 
 form .button input{
  
   height: 100%;
   width: 150px;
   border-radius: 50px;
   border: none;
   color: rgb(5, 0, 0);
   font-size: 20px;
   font-family:"Calibri";
   font-weight: 600;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(150deg, #8ed2ff, #2a88f3);
 }
 form .button input:hover{
  
  background: linear-gradient(-150deg, #ffc548,#ffb71b);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}

form .gender-details .gender-title{
	font-size: 20px;
	font-weight: 500;

   }
  
   .Section{
    height: 30%;
    outline: none;
    font-size: 16px;
    color: rgb(158, 158, 158);
    font-weight: 500;
    width: calc(100% / 2 - 20px);
    align-content: center;
    margin: 5px  0;
   }

   .v{
    font-size: 20px;
    font-weight: 500;
    width: calc(100% / 2 - 20px);
 
   }
   .x{
    font-size: 20px;
    font-weight: 500;
    width: calc(100% / 2 - 20px);
    
   }

   .gender-details{
   width: calc(100% / 3 - 20px);
   
   }
	
   